@import "../fonts/stylesheet.css";

::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
::-webkit-scrollbar-thumb {
  background-color: #16181b;
}
body {
  font-family: "SF Pro Display";
  background-color: #16181b;
  color: #73777d;
  cursor: default;
}
img {
  user-select: none;
}
/* header */
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 40px;
  a {
    transition: color 0.5s linear;
    cursor: pointer;
  }
  a:hover {
    color: #ff9100;
  }
}

.row {
  display: flex;
  align-items: center;
  padding: 26px 0px;
  &:first-child {
    border-bottom: 2px solid #73777d;
  }
  &:nth-child(2) {
    column-gap: 26px;
    justify-content: right;
  }
}

.socials {
  display: flex;
  column-gap: 16px;
  div {
    cursor: pointer;
  }
  svg {
    fill: #707070;
    transition: all 0.2s linear;
  }
  svg:hover {
    fill: #ff9100;
    cursor: pointer;
  }
}

nav {
  display: flex;
  column-gap: 60px;
  margin-left: 100px;
  margin-right: 60px;
  a {
    color: #73777d;
    text-decoration: none;
  }
}

.enter {
  display: flex;
  column-gap: 6px;
  p {
    transition: color 0.5s linear;
    cursor: pointer;
  }
  p:hover {
    color: #ff9100;
  }
}

.search,
.basket,
.sales {
  input {
    width: 200px;
    border-bottom: 2px solid #36393e;
  }
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.search {
  align-items: flex-end;
}
.basket {
  p:last-child {
    color: #ff9100;
  }
}
.sales {
  padding: 8px;
  padding-right: 16px;
  border-radius: 20px;
  background-color: #ff9100;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
/* header end */

/* start section for main page */
.main_page {
  display: flex;
  column-gap: 200px;
}

.info {
  margin-top: 215px;
  h1 {
    font-size: 64px;
    color: white;
    font-weight: bold;
    max-width: 555px;
    margin-left: 60px;
    margin-bottom: 50px;
  }
}
.show_all {
  color: #ff9100;
  position: relative;
  margin-left: 186px;
  margin-bottom: 50px;
}
.show_all::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #ff9100;
  position: absolute;
  bottom: 8px;
  left: -126px;
  z-index: 19;
}
.big_button {
  padding: 33px 60px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  font-weight: bold;
  &:hover {
    padding-left: 100px;
  }
  transition: all 0.5s ease-in;
}
/* slider */
.slider {
  margin-top: 35px;
}
.slider_inner_container {
  width: 1128px;
  height: 576px;
  overflow: hidden;
  position: relative;
}

.cards_in_slider {
  transition: all 0.5s linear;
  display: flex;
  height: 576px;
  width: 1630px;
  position: absolute;
}

.slider_card {
  position: relative;
  margin-right: 26px;
  p {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 20;
    bottom: 50px;
    width: 220px;
    height: 60px;
    padding: 21px 0px 21px 24px;
    color: #ff9100;
    font-size: 16px;
    font-weight: 400;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  div {
    img {
      height: 576px;
      width: 300px;
    }
  }
}

.shadows_in_slider:nth-child(1) {
  position: absolute;
  content: "";
  width: 100px;
  height: 576px;
  background: linear-gradient(0.25turn, #16181b, #16181b00);
  z-index: 10;
  left: 0;
}

.shadows_in_slider2 {
  position: absolute;
  content: "";
  width: 100px;
  height: 576px;
  background: linear-gradient(-0.25turn, #16181b, #16181b00);
  z-index: 10;
  top: 0;
  right: 0;
}
/* end slider */

/* start range_for_slider */
.container_for_range {
  display: flex;
  align-items: center;
  padding: 46px 0;
}
.range {
  width: 815px;
  height: 2px;
  background-color: #36393e;
  position: relative;
}
.round {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #ff9100;
  cursor: grab;
  position: absolute;
  top: -12px;
  transition: all 0.5s linear;
}
.show_all.in_range {
  margin: 0;
  margin-left: 50px;
}
.show_all.in_range::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #ff9100;
  position: absolute;
  bottom: 8px;
  left: 160px;
  z-index: 19;
}
/* end range for slider */
/* start main footer */
footer {
  max-height: 40px;
}
.main {
  min-height: calc(100vh - 40px);
  margin-bottom: 40px;
}
.footer_inner {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  a {
    transition: color 0.5s linear;
    cursor: pointer;
  }
  a:hover {
    color: #ff9100;
  }
}
/* end main footer */

/* start product page */

.container {
  padding: 0 40px;
}

.info_of_category {
  text-align: right;
  display: flex;
  justify-content: right;
  column-gap: 16px;
  a {
    color: #7a7f84;
  }
  a:last-child {
    color: #ff9100;
  }
}
.choose_category {
  display: flex;
  justify-content: space-between;
  background-color: #1f2125;
  padding: 11px 40px;
  margin-top: 35px;
  user-select: none;
}
.category {
  margin-left: 302px;
  display: flex;
  column-gap: 72px;
  div {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    margin-top: 3px;
  }
  p {
    color: #ff9100;
  }
}
.sort {
  cursor: pointer;
  summary {
    display: flex;
    align-items: center;
    column-gap: 16px;
    list-style: none;

    p {
      transition: color 0.5s linear;
      color: #7a7f84;
    }
    svg {
      transition: fill 0.5s linear;
      fill: #7a7f84;
    }
  }
  summary:hover {
    p {
      color: #ff9100;
    }
    svg {
      fill: #ff9100;
    }
  }
}
.sort[open] {
  p {
    color: #ff9100;
  }
  svg {
    fill: #ff9100;
    transform: rotate(90deg);
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
    li {
      transition: color 0.5s linear;
    }
    li:hover {
      color: #ff9100;
    }
  }
}
.type_of_offset {
  display: flex;
  column-gap: 26px;
  svg {
    fill: #707070;
    transition: all 0.2s linear;
  }
  svg:hover {
    fill: #ff9100;
    cursor: pointer;
  }
}
/* start products */
.products {
  display: flex;
  margin-top: 16px;
  column-gap: 16px;
  justify-content: space-between;
}
.ones_of_category {
  user-select: none;
  details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    svg {
      rotate: -90deg;
    }
  }
  details[open] {
    summary {
      color: #ff9100;
    }
    svg {
      fill: #ff9100;
      rotate: 0deg;
    }
    ul {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      row-gap: 20px;
      padding-left: 10px;
      li {
        font-size: 16px;
        font-weight: 400;
        color: #7a7f84;
        transition: color 0.5s linear;
      }
      li:hover {
        color: #ff9100;
      }
    }
  }
  summary {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  summary:hover {
    color: #ff9100;
  }
  transition: all 0.2s linear;
  svg {
    fill: #7a7f84;
  }
}
.ones_of_category:hover {
  cursor: pointer;
  svg {
    fill: #ff9100;
  }
}
.name_of_product {
  padding: 20px 30px;
  background-color: #1f2125;
  border-radius: 10px;
  min-width: 286px;
  p {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
}

.container_for_product_cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.card_ones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2125;
  border-radius: 10px;
  h2 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    max-width: 331px;
    margin-left: 36px;
    margin-right: 100px;
  }
  button {
    display: flex;
    margin-left: 50px;
    align-items: center;
    background-color: #ff9100;
    padding: 12px 22px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: black;
    column-gap: 10px;
    transition: all 0.5s linear;
  }
  button:hover {
    background-color: #fdb806;
    box-shadow: 0px 3px 5px #fdb706a2;
  }
  .price {
    color: white;
  }
  svg {
    fill: black;
  }
  .alt_image {
    display: none;
  }
  .main_image {
    display: block;
  }
}
.card_inner {
  display: flex;
  justify-content: space-between;
}
.card_inner_text {
  display: flex;
}
.descr_of_card {
  color: #7a7f84;
  max-width: 377px;
  margin-right: 190px;
  vertical-align: middle;
}

/*second type of offset  */

.price_and_backet {
  display: flex;
  align-items: center;
}

.square {
  flex-direction: column;
  align-items: flex-end;
  max-width: 361px;
  background-color: white;
  flex-basis: 362px;
  .main_image {
    display: none;
  }
  .alt_image {
    display: block;
  }
  h2 {
    margin: 0px;
    color: black;
  }
  .descr_of_card {
    margin: 0px;
    max-width: 245px;
  }
  .card_inner_text {
    flex-direction: column;
    margin-right: 20px;
  }
  .card_inner {
    flex-direction: column;
    padding: 20px 0px 22px 22px;
  }
  .price {
    color: black;
  }
  svg {
    fill: white;
  }
  .to_backet_button {
    p {
      color: white;
    }
  }
  .price_and_backet {
    justify-content: space-between;
  }
}
/* end second type of offset */

/* end products */

/* end product page */

/* start product sample page */
.gray_bar {
  width: 100%;
  height: 40px;
  background-color: #1f2125;
  margin-top: 35px;
}

.images_in_product_descr {
  display: flex;
  flex-wrap: wrap;
  max-width: 451px;
  column-gap: 8px;
  row-gap: 8px;
}

.product_descr {
  display: flex;
  color: #51545a;
}
.product_descr_inner {
  max-width: 610px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-left: 35px;
  h2 {
    font-weight: bold;
    color: white;
    font-size: 24px;
  }
}

.rate {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.stars {
  display: flex;
}

.main_text_in_descr {
  color: #7a7f84;
}

.product_price {
  color: #ff9100;
  font-weight: bold;
  font-size: 20px;
}

.article_and_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    display: flex;
    align-items: center;
    background-color: #ff9100;
    column-gap: 10px;
    color: white;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    transition: all 0.5s linear;
  }
  button:hover {
    transform: scale(1.05);
    background-color: #fdb806;
  }
}

.discount {
  text-align: right;
}

.sidebar {
  position: relative;
  button {
    position: absolute;
    padding: 28px 107px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}
@mixin explode {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.image_in_sidebar::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  @include explode();
  background-color: rgba(0, 0, 0, 0.5);
}

.main_text_in_sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  h3 {
    max-width: 270px;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  p {
    max-width: 270px;
    color: #7a7f84;
  }
  div {
    display: flex;
    justify-content: space-between;
    p {
      color: white;
    }
  }
}

.card_ones_rec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2125;
  border-radius: 10px;
  padding: 16px 0px 16px 35px;
  color: #73777d;
  h2 {
    font-size: 20px;

    font-weight: bold;
    max-width: 332px;
  }
  button {
    display: flex;
    align-items: center;
    background-color: #73777d;
    padding: 12px 22px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: black;
    column-gap: 10px;
    transition: all 0.5s linear;
  }
  button:hover {
    background-color: #fdb806;
    box-shadow: 0px 3px 5px #fdb706a2;
  }

  svg {
    fill: black;
  }
  .price_and_backet {
    justify-content: space-between;
    column-gap: 60px;
  }
}

.recommendations {
  .prescr_for_rec {
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-top: 35px;
    margin-bottom: 16px;
    div {
      max-height: 16px;
    }
  }
}

/* end product sample page */

/* start blog page */
.about_and_blog {
  display: flex;
  column-gap: 10px;
}
.about_us {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }
  p {
    max-width: 801px;
    line-height: 24px;
    margin-top: 15px;
  }
}

.images_in_about {
  display: flex;
  margin-top: 15px;
}
.sample_image {
  position: relative;
  div:nth-child(1) {
    text-align: center;
    min-height: 24px;
  }
  div:nth-child(2) {
    position: absolute;
    top: 15%;
    left: 12%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 78px 86px;
    p {
      margin-top: 11px;
      min-width: 40px;
      text-align: center;
    }
  }
}
.sample_image:nth-child(3) {
  div:nth-child(2) {
    padding: 78px 77px;
  }
}

.our_blog {
  display: grid;
  grid-template-columns: 470px 470px;
}
.our_blog_inner {
  display: flex;

  div:nth-child(1) {
    padding: 20px 24px;
    max-width: 462.18px;
    flex-grow: 1;
  }
  div:nth-child(2) {
    flex-grow: 1;
    max-width: 462.18px;
  }
}
.our_blog_inner:nth-child(2) {
  flex-direction: row-reverse;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 44px 26px;
}
.sample_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    column-gap: 24px;
    align-items: center;
    div {
      max-height: 16px;
    }
  }
  button {
    color: #51545a;
    border-bottom: 1px solid;
  }
}
/* end blog page */
/* start basket page */
.basketPageD {
  margin-top: 16px;
}
.basketPage_product {
  max-width: 1170px;
  display: flex;
  align-items: center;
  column-gap: 100px;
  color: white;
  h2,
  p {
    line-height: unset;
  }
  h2 {
    max-width: 215px;
  }
}
.delete_button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #ff9100;
}
.image_and_descr_of_card {
  display: flex;
  column-gap: 36px;
  align-items: center;
}
.count {
  display: flex;
  column-gap: 8px;
  align-items: center;
  button {
    max-height: 24px;
    svg {
      fill: #16181b;
      circle {
        fill: #73777d;
      }
    }
    transition: all 0.5s linear;
  }
  button:hover {
    svg {
      circle {
        fill: #ff9100;
      }
    }
  }
}

.gray_bar {
  ul {
    display: flex;
    margin-left: 11%;
    padding: 11px 0;
    li:nth-child(1) {
      margin-right: 13%;
    }
    li:nth-child(2) {
      margin-right: 7%;
    }
    li:nth-child(3) {
      margin-right: 6%;
    }
  }
}

.total_score {
  max-width: 469px;
  padding: 20px 34px;
  background-color: #1f2125;
  margin-top: 16px;
  h4 {
    color: white;
    margin-bottom: 16px;
  }
  p:nth-child(3) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  button {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 12px 0;
    color: black;
    transition: all 0.5s linear;
  }
  button:hover {
    scale: 1.01 1.03;
  }
}
/* end basket page */
